<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AFM Data Conversion</title>

    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Data Conversion</h1>
    
    <!-- Form for BC to ERP function -->
    <h2>BC to ERP</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    <!-- Form for Excel to another template function -->
    <h2>WMS to OMS</h2>
    <form action="/upload_wms" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    <!-- Form for PDF split function -->
    <h2>Split PDF</h2>
    <form action="/upload_split_pdf" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
</body>
</html>
